/* This website helped with making gradients https://cssgradient.io/blog/css-gradient-text/ */

body {
  /* background-color: green; */
  /* background: white; */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 40%,
    rgb(255, 255, 255) 100%
  );
}

.answerBox {
  background: "blue";
  width: 10em;
  height: 10em;
}

.anText {
  color: wheat;
  margin-left: 1em;
  margin-top: 0.5em;
}

.anText2 {
  color: wheat;
  /* margin-left: 0.5em; */
  /* margin-top: 0.5em; */
  font-size: 3em;
}
.title {
  color: gray;
  align-items: center;
  align-self: center;
  font-size: 15em;
  /* margin-left: 50; */
  padding-left: 0.5em;
}

.questionBox {
  margin-left: 0.5em;
  width: 20em;
  height: 10vh;
  font-size: 3em;
}
.anBox {
  padding-left: 2em;
  font-size: 2em;
  margin-top: 2em;
}
