<!-- This stack overflow helped me get the style sheet connected https://stackoverflow.com/questions/13772884/css-problems-with-flask-web-app -->
<!-- This helped me indent the if statement https://stackoverflow.com/questions/66695876/how-use-a-conditional-statement-in-a-flask-app -->
<!-- This html file is the page for our website, it uses flask and app.py to display the users input -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EthicAI</title>
    <link rel="stylesheet" href="../static/stylesheets/styles.css" />
  </head>
  <body>
    <!-- <div class="container"> -->
    <div class="leftSide">
      <div class="title">EthicAI</div>

      <!-- Form sends input to Flask -->
      <form method="POST">
        <input
          type="text"
          name="user_input"
          class="questionBox"
          placeholder="Please input an ethical Query"
          required
        />
        <!-- <button type="submit">Submit</button> -->
      </form>

      <!-- <div class="answerBox">Hello</div> -->
      <!-- Display the result returned from Flask -->

      <div class="anBox">
        {% if result %}
        <div class="anText2">Result: {{ result }}</div>
        <div class="anText">
          <div>Input: {{ user_input}}</div>
          <div>Norm: {{ norm }}</div>
          <div>Situation: {{ sit }}</div>
          <div>Intention: {{ intent }}</div>
          <div>Action: {{ action }}</div>
        </div>
        {%else%} You have yet to ask a question {% endif %}
      </div>
    </div>
    <div class="rightSide">
      In an effort to improve the moral reasoning of LLM outputs, we have
      created a new machine learning model, EthicAI. This model takes in a
      sentence and outputs its moral classification and a breakdown of why that
      decision was made. The model is composed of two different machine learning
      algorithms, a BART for text generation and then a BERT for moral
      classification. The BART is trained with an input of explanation section,
      and output the action, norm, intention and situation. The BERT is trained
      on action, norm, intention, and situation, and then outputs the label
      (which is a binary classification of either moral or immoral). Finally
      with these two parts combined the model can take in any sentence and
      parses out the different ethical components, (the action, norm, intention,
      and situation), and then inputs those into the BERT model for moral
      classification. For short sentences the BART does not have enough text to
      compose the full components of the sentence so there will not be an output
      of the action, norm, intention, and situation for sentences under 65
      characters.
    </div>
    <!-- </div> -->
  </body>
</html>
